.header-container{
    background-color: rgb(27, 25, 23);
    display: flex;    
    justify-content: space-around;
}

.nologo-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 2em;
    color:white;
    align-items:center;
    font-family: 'Inter', sans-serif;
}

.header-child > button{
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.header-child{
    margin-right: 3em;
    margin-left: 3em;
}



.sign-btn{
    background-color: #E9CB88;
    color: rgb(27, 25, 23);
    border-style: none;
    border-radius: 0.4em;
    padding: 1em;
}

.log-btn{
    background-color: transparent;
    color: white;
    border-style: none;
}

.logo{
    width: 12.500em;
    height: 4.125em;
    left: 8.875em;
    top: 0.688em;
}



