

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: rgb(85,30,30);
  background: linear-gradient(247deg, rgba(85,30,30,1) 0%, rgba(27,21,17,1) 23%);
}

code {
  font-family: 'Inter', sans-serif;
}
